* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.json-tree {
    position: relative;
    font-size: 10px;
    font-weight: 400;
    font-family: "Lucida Console", Monaco, monospace;
    color: #333;
    border: 1px solid #e3e8eb;
    padding: 10px 0;
    border-left-width: 40px;
    background-color: #fbfcfd;
}

.json-tree p {
    margin: 0;
    line-height: 2;
    min-width: 200px;
}
.json-tree .tag {
    color: #db3e6e;
}
.json-tree .boolean {
    color: #ea740c;
}
.json-tree .number {
    color: #D036D0;
}
.json-tree .string {
    color: #269100;
}
.json-tree .toggle,
.json-tree .delete,
.json-tree .add {
    font-size: 12px;
    cursor: pointer;
}
.json-tree .toggle {
    margin-left: -1.2em;
}
.json-tree .tree-num {
    float: left;
    height: 100%;
    width: 40px;
    margin-left: -40px;

}
.json-tree .toggle i {
    -o-transition: -o-transform .3s;
    -webkit-transition: -webkit-transform .3s;
    -ms-transition: -ms-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
}
.json-tree .toggle.closed i {
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}
.json-tree .dsc {
    font-style: italic;
    color: #666;
}
.json-tree .dsc-tip {
    margin-left: 3em;
}
.json-tree span.dsc::before {
    margin-left: 1em;
    font-style: normal;
    content: '//';
}
.json-tree ul[data-type="array"] > li > ul > p > input.tag,
.json-tree ul[data-type="array"] > li > ul > p > .colon,
.json-tree ul[data-type="array"] > li > ul > p > .delete,
.json-tree ul[data-type="array"] > li > p > input.tag,
.json-tree ul[data-type="array"] > li > p > .colon,
.json-tree ul[data-type="array"] > li > p > .delete {
    display: none;
}
.json-tree .add,
.json-tree .delete {
    padding: 0 .25em;
    border: 1px solid #e3e8eb;
    border-radius: 2px;
    margin-left: .5em;
}
.json-tree .type {
    color: darkblue;
}
.json-tree .overInput {
    margin-left: 1em;
    display: none;
    cursor: pointer;
}
.json-tree input {
    padding-left: 6px;
    height: 22px;
    border-width: 0;
    border-bottom: 1px solid #ccc;
}
.json-tree input:focus {
    outline: none;
    border-bottom-color: #7697cc;
}
.json-tree select {
    height: 20px;
    border-color: #ccc;
}
.json-tree option {
    padding: 10px;
}
.json-tree ul {
    margin: 0;
    padding: 0;
}
.json-tree > ul {
    padding-left: 2em;
    overflow-x: auto;
}
.json-tree li {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 2em;
}
.json-tree p:hover {
    background-color: #ecf7ff;
}
.json-tree p:hover input {
    background-color: #ecf7ff;
}

.json-tree li::before {
    position: absolute;
    content: '';
    left: 0;
    display: block;
    height: 100%;
    width: 0;
    border-left: 1px solid #e3e8eb;
}
.json-tree li:not(:last-of-type) > p::after {
    content: ',';
}
.json-tree li:not(:last-of-type) > ul > p:last-child::after {
    content: ',';
}

.json-tree i.num {
    display: block;
    font-size: 12px;
    line-height: 2;
    color: #666;
    font-style: normal;
    text-align: center;
}
/*--------------------------*/
#page-wrapper {
    background-color: #f1f4f5;
}
.row {
    margin: 24px 15px;
    border: 1px solid #e3e8eb;
    background-color: #fff;
    padding-bottom: 20px;
}
h1 {
    font-size: 26px;
    padding-left: 15px;
}
.btn-free {
    margin: 20px 15px 10px;
}
.row h2 {
    font-size: 22px;
}
.json-card {
    float: left;
    width: 50%;

}
.json-card:nth-child(2n) {
    padding-left: 10px;
}
.json-card:nth-child(2n-1) {
    padding-right: 10px;
}
.json-card .title {
    margin: 0;
    padding-left: 1em;
    color: #fff;
    line-height: 40px;
    font-size: 16px;
    background-color: #535b63;
}
.api-path .input-group-addon {
    background-color: #e3e8eb;
    border-color: #e3e8eb;
}
/*.api-path input:focus,*/
.api-path input {
    border-color: #e3e8eb;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.api-path input[readonly] {
    background-color: #fbfcfd;
}
.api-help {
    padding-left: .5em;
    color: #666;
    margin-bottom: 20px;
}
.api-btns {
    margin: 18px 0;
}
.btn-primary {
    background-color: #288ad6;
}
.api-btns .btn-primary {
    margin-right: .5em;
}
.btn-primary-o {
    color: #288ad6;
    background-color: #fff;
    border: 1px solid #288ad6;
    margin-right: .5em;
}
.api-btns i.fa {
}
form.col-lg-8,
form.col-lg-4 {
    padding-left: 0;
}
.json-title {
    color: #288ad6;
    font-size: 18px;
    line-height: 1;
    padding: .5em 0;
}